<!DOCTYPE html>
<style>
</style>
<html lang="en" {% block html_attrs  %}{% endblock html_attrs %}>
{% block html %}

<head>
  {% block head %}
  <title>{% block title %}Quipped{% endblock title %}</title>

  {% block metas %}
  <meta name="description" content="Quipped - a simple word game for friends!" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-icon-180x180.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  {% endblock metas %}

  {% block css %}
  {% endblock css %}

  {% endblock head %}
</head>
<body{% block body_attrs %}{% endblock body_attrs %}>
  {% block body %}

  <div id="app">
    {% block content %}
    <header>
      <div class="row">
        <div class="logo-row">
          <img src="{{ url_for('static',filename='images/logo.jpg') }}" alt="Quipped" class="logo">
        </div>
      </div>
    </header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

    <!-- link rel="stylesheet" href="css/main.css" media="all" / -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">


    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.4.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.blockUI.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-css-transform.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-animate-css-rotate-scale.js') }}">
    </script>

    <script type="text/javascript" src="{{ url_for('static',filename='js/rotate3Di.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui-1.8.7.custom.min.js') }}"></script>

    <script>
      var _sf_startpt = (new Date()).getTime()
    </script>

    <script type="text/javascript">
      function init() {

        // quit if this function has already been called
        if (arguments.callee.done) return;

        // flag this function so we don't do the same thing twice
        arguments.callee.done = true;

        $(document).ready(function () {

          var obj = $("#title");
          obj.rotate3Di(360, 1000, {
            sideChange: function (front) {
              if (front) {
                //
              } else {
                //			        obj.animate({scale: 1}, 500);
              }
            },
            complete: function () {
              //
            }
          });
        });

      };

      function checkWord()
      {
        var text = $("#text_field").val();
        $.getJSON('/background_process_test',
            function(data) {
          //do nothing
        });
        return false;
      }

      /* for Mozilla */
      if (document.addEventListener) {
        document.addEventListener("DOMContentLoaded", init, false);
      }

      /* for Internet Explorer */
      /*@cc_on @*/
      /*@if (@_win32)
      document.write("<script defer src=ie_onload.js><"+"/script>");
      /*@end @*/

      /* for other browsers */
      window.onload = init;
    </script>
    <style type="text/css" media="all">
      .cnotie {
        display: block
      }
    </style>
    <!--<![endif]-->
    </head>

    <body id="body">

      <div id="title">
        <span>{{rack}}</span>
      </div>

      <div style="background-color: rgb(2, 90, 99); padding: 1em;">
        <p>Quipped is a word game for friends! Every day a new set of letters will appear above. Combine these letters to form a word. The longer the word, the more points you score! Wildcards are marked as question marks (?) and can represent any letter. Beware- while they are useful they won't earn you any points! Share your best score with your friends! Don't worry- we'll keep the word you picked a secret.</p>

        <p>
          <input id="text_field" type="text" onmousedown="resetTextField();" size="15" style="width: 25em"></input>
          <input type="submit" onclick="checkWord();" value="Score Word"></input>
        </p>
        <div id="submissions" class="tableDivWrap"></div>
      </div>

      <div id="rack" class="tableDivWrap bottomShade"></div>

    </body>
    <footer>
      <p>A game by Kevin Loeffler <a href="www.kevinloeffler.com">www.kevinloeffler.com</a></p>
    </footer> 

</html>
{% endblock content %}
</div>

{% block scripts %}
{% endblock scripts %}

{% block serviceworker %}
<script type="text/javascript">
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("/sw.js")
        .then((registration) => {
          console.log(`Yay! ServiceWorker is loaded 🎉`)
        })
        .catch((err) => {
          console.log(`Boo! ServiceWorker didn't load 😬: ${err}`);
        });
    });
  }
</script>
{% endblock serviceworker %}
{% endblock body %}
</body>
{% endblock html %}

</html>
